config.yaml
# --- Go specific ---
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Go workspace file
go.work
go.work.sum

.env
.env.local

# Server logs
*.log

# VS Code
.vscode/

